body,
html {
    min-height: 100%;
}

body {
    background: url(/public/background.png);
    background-repeat: no-repeat;
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;
}

.bg-body-tertiary {
    background-color: #181719b3 !important;
}

.nav-link {
    color: #fff;
    font-weight: bold;
}

.nav-link:hover {
    color: #fff;
}

.navbar-toggler-icon {
    background-image: url(/public/menu.png);
}

.banner {
    height: 400px;
}

input[type='text'],
input[type='email'],
select.form-select {
    border: 1px solid #fff;
    color: #fff;
    background: transparent;
}

select option {
    background: #333;
    color: #fff;
}

input[type='text']:focus,
input[type='email']:focus,
select.form-select:focus {
    background: unset !important;
    color: #fff !important;
}

.btn-primary {
    background-image: linear-gradient(to right, #8e44ad, #ff69b4);
    border: 0;
}

.form-label {
    color: #ccc;
}

.form-control {
    background: transparent;
    color: #fff;
}

.form-control::placeholder {
    background: transparent;
    color: #ccc;
}

.thedj {
    background-image: url(/public/thedj.png);
}

.assassin {
    background-image: url(/public/assassin.png);
}

.basketball-girl {
    background-image: url(/public/basketball-girl.png);
}

.mafia-england {
    background-image: url(/public/mafia-england.png);
}

.neon-guy {
    background-image: url(/public/neon-guy.png);
}

/* sm */
@media only screen and (min-width: 576px) {
    .banner {
        height: 500px;
    }
}

/* md */
@media only screen and (min-width: 768px) {
    .banner {
        height: 600px;
    }

    .character-card .theme {
        height: 200px;
    }

    .character-card .title {
        text-overflow: ellipsis;
        text-wrap: nowrap;
        overflow: hidden;
        max-width: 120px
    }
}

/* lg */
@media only screen and (min-width: 992px) {
    .banner {
        height: 600px;
    }

    .banner > .new-arrival {
        width: 40%;
    }

    .mobile-scrollable-section {
        overflow: unset;
    }

    .new-character-tile {
        width: 100px;
        height: 60px;
    }

    .bottom-lines {
        background-size: cover;
    }
}

/* xl */
@media only screen and (min-width: 1200px) {
    .new-character-tile {
        width: 150px;
        height: 90px;
    }
}

/* xxl */
@media only screen and (min-width: 1400px) {
}
